.container {
    width: 40%;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .container {
        width: 90%; 
    }
}

.tab-header {
    display: flex;
    flex-wrap: wrap; 
}

.tab-button {
    flex: 1;
    padding: 1.2rem;
    background-color: #333;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s;
    min-width: 100px; 
}


@media (max-width: 768px) {
    .tab-button {
        padding: 0.8rem; 
        font-size: 0.9rem; 
    }
}

.tab-button.active {
    background-color: #2e6380;
}

.tab-button:not(.active):hover {
    background-color: #444;
}

.tab-content {
    padding: 1.25rem 3.75rem;
    background-color: #f9f9f9;
}


@media (max-width: 768px) {
    .tab-content {
        padding: 1rem; 
    }
}

.tab-content h2 {
    margin: 1rem 0;
    font-size: 1.2rem;
    font-weight: bold;
}


@media (max-width: 768px) {
    .tab-content h2 {
        font-size: 1rem; 
    }
}

.tab-content div {
    line-height: 1.6;
    color: #333;
    margin-bottom: 1.6rem;
    font-size: 0.85rem;
}


@media (max-width: 768px) {
    .tab-content div {
        font-size: 0.8rem; 
    }
}

.justified {
    text-align: justify;
}
